# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# IntelliJ / PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Log files
*.log

# Python cache
.pytest_cache/
.mypy_cache/

# Build files
build/
dist/
*.egg-info/

# Temporary files
*.tmp

# Dataset
Data/